<html>
    <head>
        <title>Buket's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Buket's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I actually have a blog that contains my posts but it's not here. I also do not want to add some latin words here which don't mean anything</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>When you add or change content on the html page, you don't need to restart the server, you 
            can simply refresh the page you're viewing</p>
        </div>
    </body>
</html>